
li {
    list-style: none;
}
#main-container-menu {
    display: flex;
    justify-content: space-between;
}
.container-menu-link > ul {
    display: flex;
}
.container-menu-link > ul > li {
    margin: 20px;
}
#main-container-slide {
    position: relative;
}
.slide-img {
    width: 100%;
}
.container-slide-text {
    position: absolute;
    top: calc(50% - 150px);
    left: 10%;
    text-transform: capitalize;
    font-weight: bold;
    height: 300px;
}
.container-slide-text {
    font-size: 2em;
}
.container-slide-text {
    color: white;
}
.slide-title-big {
    color: #5dacd2;
}
.container-slide-text button {
    background-color: #5dacd2;
    padding: 15px 20px 15px 20px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 5px 0 #3b718b;
    border: none;
    color: white;
}
#main-container-services-1 {
    text-align: center;
    padding: 30px;
    font-size: 22px;
}
.services-separator {
    width: 10%;
    background-color: gray;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.services-separator:before{
    content: " ";
    background-color: #5dacd2;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: 2px solid white;
    position: absolute;
    left: calc(50% - 7px);
    top: -8px;
}
#main-container-services-2 {
    display: flex;
}
.container-service-img {
    width: 50%;
    display: flex;
}
.container-service-img img {
    margin-left: auto;
}
.container-card-services {
    width: 50%;
}
.card-services {
    text-align: left;
}

#section-projects {
    background-color: #f4f4f4;
    padding: 15px 15px 50px 15px;
}
#main-container-projects-1 {
    text-align: center;
    padding: 30px;
    font-size: 22px;
}
.separator {
    width: 10%;
    background-color: gray;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.separator:before{
    content: " ";
    background-color: #5dacd2;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: 2px solid #f4f4f4;
    position: absolute;
    left: calc(50% - 7px);
    top: -8px;
}
.main-container-box {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.blue-box {
    background-color: #5dacd2;
    color: white;
    padding: 15px 30px;
    box-shadow: 0 3px 0 #3b718b;
    position: relative;
    border-bottom-left-radius:5px ;
    border-top-left-radius:5px ;
}
.blue-box:before {
    content: " ";
    background-color: #3b718b;
    position: absolute;
    bottom: 0;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    overflow: hidden;
    border-radius: 20%;
    transform: translateY(70%) rotate(27deg) skewY(30deg) scaleX(.866);    
}
.blue-box::after {
    content: " ";
    background-color: #5dacd2;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom:0;
    left: calc(50% - 5px);
}
.box {
    background-color: #dfdfdf;
    padding: 15px 30px;
}
.box:last-child {
    border-bottom-right-radius:5px ;
    border-top-right-radius:5px ;
}
#main-container-carrousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-projects {
    width: 20%;
    padding: 10px 15px 15px 15px;
}
.card-projects img {
    width: 100%;
}
#section-map {
    position: relative;
}
.map-img {
    width: 100%;
}
#main-container-contact {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 10%;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    font-size: 18px;
    z-index: 3;
}
#main-container-contact h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
#main-container-contact h5 {
    margin: 0;
}
#main-container-contact p {
    margin-top: 0;
}
#main-container-contact form {
    display: flex;
    flex-direction: column;
}
#main-container-contact form input, #main-container-contact form textarea {
    margin-bottom: 10px;
    padding: 5px;
    opacity: 1;
}
#main-container-contact form button {
    width: fit-content;
    background-color: #5dacd2;
    color: white;
    font-weight: bold;
    border:none;
    border-radius: 3px;
    padding: 5px 8px 5px 8px;
    box-shadow: 0 5px 0 #3b718b;
}
#map-iframe {
    position: relative;
    width: 100%;
}
.blue-calque {
    opacity: 0.5;
    position: absolute;
    background-color: #5dacd2;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
}